{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "prettier", "plugin:import/typescript"],
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
  },
  "env": {
    "mocha": true
  }
}
